@model SaccoSystem.Models.LoanApplication

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LoanApplication</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoanRefID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanRefID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentSafPhoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentSafPhoneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeductionAccnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeductionAccnt)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.LoanValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoanPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanPeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instalment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instalment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoanSuccess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanSuccess)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfApplication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfApplication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfApplication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeriodPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TermRemContractual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TermRemContractual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstalAmntPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstalAmntPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalArrears)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalArrears)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approved)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
